body {
  background-color: #000;
  text-align: center;
}

.rootpage {
  font-family: sans-serif;
  display: inline-block;
  width: 1000px;
  height: 1414px;
  background-color: #fefefe;
  vertical-align: top;
}
